table {
  border-collapse: collapse;
}

th {
  border: solid 1px rgb(207, 207, 207);
  font-family:Calibri, 'Trebuchet MS', sans-serif;
  width:110px;
  text-align: center;
}

td {
  border: solid 1px rgb(207, 207, 207);
  font-family:Calibri, 'Trebuchet MS', sans-serif;
  text-align:right;
}

#alinear {
  text-align:center;
}

.sup {
  background-color: #dfdfdf;
  text-align: center;
  font-family:Calibri, 'Trebuchet MS', sans-serif;
}

.title{
  background-color: rgb(255, 187, 61);
  text-align: center;
  color:rgb(119, 119, 119);
  font-size: 25px;
  font-family:Calibri, 'Trebuchet MS', sans-serif;
}

.cabeza {
  background-color: rgb(163, 255, 163);
}

.articulo {
  text-align: left;
}

.table-2 {
  margin-left: 140px; 
}

.table-2 tr td {
  border: solid 1px black;
  width: 110px;
}

.date {
  background-color: rgb(62, 210, 255);
  text-align:left;
}